{
	  -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}


img {
    display: block;
    position: relative;
	max-width:100%;
	padding: 4px;
}

body {
margin : 0;
border : 0;
padding : 0;
height : 100%;
max-height : 100%;
background : #fff;
font-family : arial, verdana, sans-serif;
font-size : 76%;
}

#container{
font-family : "times new roman", serif;
font-size : 1.2em;
position: fixed;
top : 450px;
left : 0;
right : 0;
overflow : auto;
padding : 20px;
text-align : right;
width: 0%;
}

h1 {
font-size : 4em;
margin : 0;
padding : 0;
margin-left: auto;
text-align: center;
}

#footer p {
color : #000;
margin : 5px 10px 0 10px;
}


p {
	width:40%;
	text-align: right;
	position: fixed;
	right: 0;
	padding-right: 20px;
	padding-top:0;
	background: #fff;
}

#band {
	margin-left: auto;
	margin-right: auto;
}


@media(max-width: 850px) {
	#container { top: 90px; }
	
}